

.section__about{
    margin-top: 40px;
}

.section__about__wrapper {
    display: flex;
    gap: 40px;
}


.section__about__wrapper img {
    width: 597px;
    height: 467px;
    flex-shrink: 0;
    border-radius: 10px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;

}

.section__about__info h1 {
    color: #323389;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
}

.section__about__info p {
    margin-top: 20px;
    color: #747474;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 180% */
}