





/* /section information qismi boshlandi */
.section__information {
    margin-top: 30px;
}


.services__info__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.service__info__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 26px;
    height: 394px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
}

.service__image img {
    width: 414px;
    height: 334px;
    flex-shrink: 0;
    border-radius: 10px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin: 30px 40px;
}

.service__info h1 {
    color: #323389;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 67px;
}

.service__info p {
    color: #666;
    width: 700px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
}

/* section information qismi tugadi */



