
.section__submitCV{
    margin: 50px 0px 120px;
}

.section__submitCV__wrapper {
    padding: 40px 0px;
    border-radius: 20px;
    background: #F4F4F4;
}

.submitCV__title {
    text-align: center;
}

.submitCV__title h1{
        color: #323389;
        font-size: 48px;
        font-weight: 600;
}
.submitCV__title p{
    color: #3f3d56;
    font-size: 18px;
    font-weight: 400;
}

/* .form form{
    display: flex;
} */
.form form {
    max-width: 1000px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 -30px;
}

.grid-item {
    padding: 15px 30px;
}

.label__input {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.label__input.textarea {
    padding: 15px 0;
}

.label__input input {
    width: 100%;
    height: 54px;
    border-radius: 10px;
    border: 1px solid rgba(36, 36, 36, 0.10);
    padding: 15px 24px;
    outline: none;

}

.label__input input::placeholder{
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.label__input textarea {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(36, 36, 36, 0.10);
    padding: 15px 24px;
    outline: none;
    resize: vertical;
}

#textarea::placeholder{
    padding-top: 5px;
    width: 332px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.label__input #file {
    display: none;
}

.label__input .input-file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 54px;
    border-radius: 10px;
    border: 1px solid rgba(36, 36, 36, 0.10);
    padding: 15px 24px;
    background-color: white;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.input-file p{
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.label__input label {
    width: 100%;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.label-file {
    margin-bottom: 0;
}

.label__input label span {
    display: inline-block;
    margin-bottom: 8px;

}

.cancel__send__button {
   padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: flex-end;
}

.cancel__button {
    padding: 15px 54px;
    border-radius: 10px;
    border: 1px solid rgba(36, 36, 36, 0.10);
    background: #FFF;
}

.cancel__button button {
    border: none;
    background: #FFF;
    font-weight: 400px;
    font-size: 16px;
    color: #333;
}

.send__button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 240px;
    gap: 92px;
    border-radius: 10px;
    background: #323389;
}

.send__button button{
    background: #323389;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;

}
